[submodule "GunEngine/vendor/spdlog"]
	path = GunEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GunEngine/vendor/GLFW"]
	path = GunEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
